
<head>
    <style>
        
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jadwal_BRI</title>
</head>

<body>
    
    <h1>Jangan Lupa DiCatat!!!!!!!!!!!</h1>
    <div class="patner list">
        <div class="kartu patner">
            <img src="https://media.suara.com/suara-partners/garut/thumbs/653x367/2023/10/09/1-jadwal-psm.jpg"/>
        </div>
    </div>
    <ul>
    <a href="{% url 'jadwal_t' %}">jadwal_timnas</a>
    <a href="{% url 'blog' %}">Home</a>
    </ul>
</body>
</html>