<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jadwal_timnas</title>
</head>
<body>
    <form>
        <div style="padding: 5px; width: 1400px; height: 75px; background: rgba(112, 2, 2, 0.63); display: block;">
        <h1 style="color: rgb(253, 251, 251);"></h1>
        <h1>Jangan sampai terlewatkan!!!!!</h1>
    </div>
    </form>
    <div class="patner list">
        <div class="kartu patner">
            <pre><img src="https://img.okezone.com/infografis/2023/05/25/559/779918/simak-jadwal-lengkap-timnas-indonesia-senior-dan-u-23-pada-2023_LBGlUOv6HT.jpg"/></pre>
        </div>
    </div>
    <a href="{% url 'jadwal_m' %}">jadwal_liga1</a>
    <a href="{% url 'blog' %}">Home</a>
</body>
</html>